header{
    padding: 20px;
    background-color: aliceblue;
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.band{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 30px;                
    width: 90%;                    
    max-width: 900px;              
    margin: 40px auto;             
    padding: 20px;
}
.card{
    text-decoration: none;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.card article{
    text-align: center;
    padding: 20px;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card-img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card h2, .card p{
    color:black;
    text-decoration: none;
}

.login-reg{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    flex-wrap: wrap; 
    
    background-color:aliceblue ;
}

.columna {
    flex: 1;
    min-width: 300px;
    max-width: 450px;
}

.divisor {
    border-left: 1px solid #ccc;
    height: auto;
}
.boton-inicio, .boton-login, .boton-carrito{
    position: absolute;
    top: 20px;
    font-size: 2rem;
    text-decoration: none;
    padding:10px;
}
.boton-inicio:hover, .boton-login:hover, .boton-carrito:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,0,1);
    transform: translateY(-2px);
}

.boton-inicio, .boton-login{
    right: 20px;
}

.boton-carrito{
    right:  75px;
}

table, td, th{
    border: 1px solid;
}
.tabla-carrito table{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}
.img0-tabla{
    background-image: url("brillo.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}
.img1-tabla{
    background-image: url("colorete.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}
.img2-tabla{
    background-image: url("brochas.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}

.img3-tabla{
    background-image: url("sombra.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}
.img4-tabla{
    background-image: url("sol.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}
.tabla-carrito td{
    padding: 10px;
    vertical-align: middle;
}
.tabla-carrito tr:hover{
    background-color: aliceblue;
}

.pagar{
    text-align: left;
    padding-bottom: 20px;
    font-size: 2rem;
    text-decoration: none;
    padding:10px;
}
.pagar:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,0,1);
    transform: translateY(-2px);
}

.descripcion{
    padding: 15px;
    text-align: center;
}

.boton-añadir{
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.boton-añadir:hover{
    box-shadow: 0 2px 1px rgba(0,0,0,0,1);
    transform: translateY(-2px);
}

.marcas{
    text-align: center;
    margin-bottom: 50px;

}
.links-marcas a {
   width: 80px;
    height: 80px;
    margin: 5px auto;
    display: inline;
}

.img-marca{
    background-size:auto;
    background-position: center;
    width: 150px;
    height: 80px;
    margin: auto;
    display: inline-block;
}




@media only screen and (min-width: 850px){
    .band{
        grid-template-columns:repeat(2, 1fr);
    }
}
